nav > ul> li> a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav > ul> li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2em;
}

header {
    background-color: aqua;
    border-radius: 0.3em;
}

body {background-color: blue;
align-content: center;
vertical-align: middle;
}

main {
    background-color: white;
    width: 60%;
    text-align: center;
    margin: auto;
    min-height: 33em;
    margin-bottom: 1.1em;
    border-radius: 1em;
}

footer {
    background-color: aqua;
    text-align: center;
    border-radius: 0.3em;
}

form button {
    cursor: pointer;
    border: 2px solid green;
    border-radius: 0.5em;
    background-color: aquamarine;
    margin-top: 1em;
}

.p {
    display: inline-block;
    margin-right: 2em;
}

.line {
    text-decoration: line-through;
}

h1 {
    padding-top: 1em;
}